<section>
    <form action="/new-post/submit" method="post">
        <div>
            <textarea name="post_title" id="post_title" cols="120" rows="1"></textarea>
        </div>
        <div >
            <textarea name="post_subtitle" id="post_subtitle" cols="120" rows="1"></textarea>
        </div>
        <div>
            <textarea name="post_body" id="post_body" cols="120" rows="90"></textarea>
        </div>

        <input type="submit" value="submit">
    </form>
    <div id="preview"></div>
</section>
