<section>
    <%if(session.userId){ %>
        <a href="/new-post">Create a new post</a> 
    <%}%>

    <% posts.forEach(post => { %>
        <div class="post-entry">
            <p><%= post.date.split(" ")[0]%> - <a href="/blog/<%=post.date.split(" ")[0]%>/<%=post.urlSlug%>"><%= post.title%></a></p>
        </div>
    <%})%>


</section>