<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/scripts/main.js"></script>

    <title>Jupiter's Space</title>
</head>
<body>
    <header>
        <h1>Welcome to <a href="/">Jupiter's Space</a></h1>
        <% if(session.userId){ %>
            <p>Welcome <%= session.userId%></p>
        <% }%>
    </header>
    <nav>
        <div>Our beautiful nav bar</div>
    </nav>
    <main>
        <div class="container">
            <%- include(`pages/${page}`)%>
        </div>
    </main>
    <footer>
        <div>Our delicious feet</div>
    </footer>
</body>
</html>